

html {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
}

section {
    background-color: #D6BDA6;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
.nav-1 {
    width: 65%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nav-1 a{
    margin-top: 2.5em;
    font-size: smaller;
    margin-right: 2.188em;
    text-decoration: none;
    color: #5D5D5D;
}

h3 {
    margin-right: 3.125rem;
    font-size: 1.875rem;
}

button{
    height: 1.875rem;
    background-color: #D6BDA6;
    border: none;
    width: 5rem;
    
    
}


.nav-2 {
    position: relative;
    top: -44.063rem;
    right: -61.875rem;
        
}

.spn {
    margin: 0 10px 0px 20px;
    
}
.circle{
    position: relative;
    top: -0.625rem;
    left: -1.313rem;
    
}
.escala {
    border-left: 3px solid ;
    height: 9.375rem;
    border-image: linear-gradient( rgb(11, 11, 11), rgb(113, 113, 112)) 1;
    position: relative;
    top: -75rem;
    right: -81.25rem;
}
.scale {
    display: flex;
    flex-direction: column;
    margin: 3.75em 0px ;
    font-size: 0.5em;
    position: relative;
    left: -0.813em;
   
}





img {
    width: 43.75rem;
    height: 43.75rem;
    position: relative;
    top: -43.75rem;
    right: -34.375rem;
}



h1 {
    position: relative;
    top: -31.25rem;
    right: -7.5rem;
    font-size: 4.375rem;
    margin: 0 2.5em;
    font-weight: 450;
}

.btn {
    position: relative;
    top: -28.125rem;
    right: -10.313rem;
    width: 8.75rem;
    height: 2.5rem;
    border: 2px solid black;
    font-size: large;
    background-color: white;
}
.texto {
    width: 21.875rem;
    color: #5D5D5D;
}

p {
    position: relative;
    top: -21.875rem;
    right:-10.313rem ;
}

@media screen and (min-width: 30em) and (max-width:80em) {
    
  
    img {
        display: none;
    }
    .nav-1 {
        display:block;
    }
    .nav-2{
        flex-direction: column;
    }
    section{
        background-color: white;
    }
    
   
}