

html {
    background-color: black;
}

section {
    background-color: #D6BDA6;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
.nav-1 {
    width: 65%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
   
}






img {
    width: 700px;
    height: 700px;
    position: relative;
    top: -700px;
    right: -550px;
}